__pycache__/
.claude
.coverage
.DS_Store
.env
.env.example
.git/
.gitignore
.mypy_cache/
.pytest_cache/
.python-version
.ruff_cache/
.venv/
*.pyc
config.toml
docs/
htmlcov/
README.md
ruff.toml
tests/
